.tech-icon--react {
  color: #61dafb;
}

.tech-icon--js {
  color: #f7df1e;
}

.tech-icon--ts {
  color: #3178c6;
}

.tech-icon--redux {
  color: #764abc;
}

.tech-icon--git {
  color: #f05032;
}

.tech-icon--css {
  color: #1572b6;
}

.tech-icon--api {
  color: #ff6c37;
}

.tech-icon--vite {
  color: #646cff;
}